.myModal {
  display: flex;
  flex-direction:column;
  width: 300px;
  height: 500px;
  padding: 0 1rem 1rem 1rem;
  border-radius: 10px;
  border: 3px solid blue;
  outline: 2px solid black;
}

label {
    margin: 0.5rem;
  }

.myModalO {
  display: none;
  animation: appear 800ms;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}

a {
  text-decoration: none;
  padding: 1rem;
}

a:hover {
  color: red;
}
